<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--  页面拦截规则  -->
    <http pattern="/*.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/seller/add.do" security="none"/>
    <http use-expressions="false">
        <!-- 拥有 USER 角色的可以任意访问 -->
        <intercept-url pattern="/**" access="ROLE_SELLER"/>
        <!-- 表单登录信息 -->
        <!--<form-login/>-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>
        <!-- 禁止跨站请求伪造校验 -->
        <csrf disabled="true"/>
        <!-- 如果使用了 iframe 等框架，希望跳转也是在框架内跳转的话 -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <!--  退出  -->
        <logout/>
    </http>

    <!--引用dubbo服务-->
    <dubbo:application name="pinyougou-shop-web"/>
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService" id="sellerService" />

    <!--  配置自定义认证  -->
    <beans:bean id="userDetailsServiceImpl"
                class="com.pinyougou.shop.service.impl.UserDetailsServiceImpl">
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>

    <!--配置密码加密对象-->
    <beans:bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- 认证管理 -->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="bCryptPasswordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>