<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置 solrServer-->
    <bean id="solrServer"
          class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        <constructor-arg name="baseURL"
                         value="http://192.168.12.168:8080/solr"/>
    </bean>
    <!--配置 solrTemplate-->
    <bean id="solrTemplate"
          class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg name="solrServer" ref="solrServer"/>
    </bean>
</beans>
