<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        //创建angular模块
        //参数1：模块的名称
        //参数2：要加载的其他模块列表，如果没有也得加这个空数组，不加表示获取一个模块
        var app = angular.module("app",[]);

        //注册处理器，名称为myController,注入$scope上下文服务
        app.controller("myController",function ($scope) {
            $scope.list=[1,2,3,4,5];

            $scope.persons = [
                {"id":100,"name":"传智播客1","gender":"男"},
                {"id":101, "name":"传智播客 2", "gender":"女"},
                {"id":102, "name":"黑马", "gender":"男"}
            ];
        });
    </script>
</head>
<body ng-app="app" ng-controller="myController">
简单数值集合遍历:<br>
<div ng-repeat="num in list">
    {{num}}
    <br>
</div>
<br>

自定义对象集合遍历：<br>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>性别</td>
    </tr>
    </thead>
    <tr ng-repeat="p in persons">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.gender}}</td>
    </tr>
</table>
</body>
</html>